/* Enter your custom styles here */
.sapUiFormResGrid>div {
    padding: 1rem 1.6rem;
    box-sizing: border-box;
}
.sapMListTblHeader>.sapMTableTH {
    background: #cfd7d6a6;
    border-bottom: 1px solid #cfd7d6a6;
}